/* CSS Color Pallette */
:root {
    --cambridge-blue: #8aa387;
    --beige: #f5f5dc;
    --lion: #a68a64;
    --dark-moss-green: #556b2f;
    --paynes-gray: #3a606e;
  }

body{
    background-color: var(--lion);
    background-image: none;
}
.Item-pic-price{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}

.pic img{
    width: 450px;
    
}
.pic{
    display: flex;
    justify-content: center;
    align-items: center;
}


.price h3{
    font-size: 25px;
    font-weight: bold;
    
    
}

.price{
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}

.size-input{
    padding-bottom: 30px;
}

.quantity-input{
    padding-bottom: 30px;
}


.favorite-add-btn button{
    margin: 10px;
}

#size{
    margin-left: 70px;
    height: 30px;
    border-radius: 10px;
    
}

#quantity{
    margin-left: 24px;
    height: 30px;
    border-radius:10px ;
}


.price button{
   border-radius: 20px;
   height: 30px;
}


.description p {
    font-size: 14px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
#teaBenefits {
    display: flex; /* Use flexbox to align items side by side */
    gap: 10px; /* Adjust the space between the items */
    flex-wrap: wrap; /* Allow items to wrap to the next line if there’s not enough space */
  }

.description ul {
    font-size: 14px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.description h5{
    font-size: 20px;
    margin: 0;
}
.description{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recommended {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #recommendations {
    display: flex;
    gap: 50px; /* This adds space between each item */
    margin-top: 30px; /* Add top margin to create space from the heading */
  }
  

 .rec-item {
        display: flex;
        flex-direction: column; /* This ensures any text or sub-elements are vertically aligned */
        align-items: center;
        text-align: center;/* Center the text under the image */
         cursor: pointer; 
      }
  
  

.rec-item p{
    font-size: 14px;
 }

.rec-item img{
    width: 250px;
}

.rec-product-info{
    padding-left: 20px;
}

.product{
    padding-top: 30px;
    padding-left: 100px;
}

