body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-top:30px;
}
.back{
    margin-top:20px;
    text-align: center;
}
img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    color:#556b2f;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    color: #333333;
}
