<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="icon" type="image/png" href="../static/tea8.png">
    <title>Homepage</title>
</head>
<body>
    <!-- Nav --> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html">
                <img src="../static/logo.png" alt="" width="100" height="100">
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="./cart.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a>
            </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="./signup.html"><i class="fa fa-user" aria-hidden="true"></i> Sign Up</a></li>
                  <li><a class="dropdown-item" href="./login.html"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="./login.html" onclick="logoutUser()" >Logout <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="./empty.html">Empty Page</a>
              </li>
             
            </ul>
            <div class="d-flex">
              <input id="serachbar" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success" type="submit" onclick="search()">Search</button>
            </div>
          </div>
        </div>
      </nav>

      
    
    <!-- Content: Manar -->
    <main>
      <section class="hero">
          <div class="container">
              <div class="hero-content">
                  <div class="text-content">
                      <h2> Tea House</h2>
                      <p>Discover the Perfect Blend for Every Mood: Elevate Your Tea Experience with Our Premium, Artfully Crafted Selections.</p>
                  </div>
              </div>
          </div>
      </section>
      <section class="benefits">
        <div class="container">
          <div class="benefits-content">
            <div class="benefit">
              <img src="../static/flask.png" alt="Pesticides and Chemicals Free Icon">
              <p>Pesticides and Chemicals Free</p>
            </div>
            <div class="benefit">
              <img src="../static/vitamin.png" alt="Rich in Antioxidants Icon">
              <p>Rich in Antioxidants</p>
            </div>
            <div class="benefit">
              <img src="../static/mental-health.png" alt="Promotes Mental Well-Being Icon">
              <p>Promotes Mental Well-Being</p>
            </div>
            <div class="benefit">
              <img src="../static/gluten-free.png" alt="Gluten Free Icon">
              <p>Gluten Free</p>
            </div>
          </div>
        </div>
      </section>
    
      <section class="featured-products">
        <div class="container">
          <h2 style="font-family: Georgia, serif; color: #556b2f; text-align: center; margin-top: 20px;">
          Featured Products
      </h2>
      <h5 style="font-family: Verdana, sans-serif; color: #556b2f; text-align: center; margin-top: 10px; font-weight: normal;">
          Shop Our Finest Teas: Elevate Your Everyday Sip
      </h5>
            <h1></h1>
            <h2></h2>
            <div class="product-grid">
                <a href="category_view.html?category=GREEN+TEA" class="product-card">
                    <img src="../static/greentea.png" alt="Tea 1">
                    <h3>Green Tea</h3>
                    <p>A powerful elixir for heart health, </p>
                     <p> brain function, and overall well-being.</p>
                </a>
                <a href="category_view.html?category=BLACK+TEA" class="product-card">
                    <img src="../static/6-4.jpg" alt="Tea 2">
                    <h3>Black Tea</h3>
                    <p>Energize your day with enhanced focus,</p>
                       <p>digestive support, and antioxidant-rich benefits</p>
                </a>
                <a href="category_view.html?category=WHITE+TEA" class="product-card">
                    <img src="../static/istockphoto-1146980588-612x612.jpg" alt="Tea 3">
                    <h3>White Tea</h3>
                    <p>Subtle elegance with benefits for hydration,</p>
                     <p> immune support, and overall vitality.</p>
                </a>
            </div>
            <h2></h2>
            <div class="product-grid">
                <a href="category_view.html?category=FRUIT+BLENDS" class="product-card">
                    <img src="../static/Screenshot 2024-07-30 220832.png" alt="Tea 1">
                    <h3>Fruit Blends</h3>
                    <p> A burst of flavor packed with vitamins, </p>
                      <p>antioxidants, and refreshing hydration</p>
                </a>
                <a href="category_view.html?category=MATCHA+BLENDS" class="product-card">
                    <img src="../static/Screenshot 2024-07-30 222851.png" alt="Tea 2">
                    <h3>Matcha Blends</h3>
                    <p>Elevate your day with sustained energy,</p>
                      <p> mental clarity, and immune-boosting properties</p>
                </a>
                <a href="category_view.html?category=HERBAL+TEA" class="product-card">
                    <img src="../static/Screenshot 2024-07-30 222401.png" alt="Tea 3">
                    <h3>Herbal Tea</h3>
                    <p> Embrace wellness with calming effects,</p>
                     <p> improved digestion, and rich antioxidants</p>
                     
                </a>
            </div>
             <h2></h2>
            <div class="product-grid">
              <a href="category_view.html?category=ROOIBOS+&+HONEY+BUSH" class="product-card">
                    <img src="../static/Screenshot 2024-07-30 224004.png" alt="Tea 1">
                    <h3>Rooibos & Honey Bush</h3>
                    <p> Naturally caffeine-free, boosts immunity, </p>
                      <p>promotes healthy skin, and supports bone health.</p>
                </a>
                <a href="category_view.html?category=PREMIUM+OOLONG" class="product-card">
                    <img src="../static/Screenshot 2024-07-30 224610.png" alt="Tea 2">
                    <h3>Premium Oolong</h3>
                    <p> Combines the benefits of green and black tea :</p>
                      <p> balanced energy, skin health, and antioxidant.</p>
                </a>
                <a href="category_view.html?category=other" class="product-card">
                    <img src="../static/Screenshot 2024-07-30 224811.png" alt="Tea 3">
                    <h3>Other</h3>
                    <p>Discover a world of flavors and benefits with </p>
                     <p> our diverse tea selection.</p>
                </a>
            </div>
        </div>
        
    </section>
  
   
    
    </section>
    <section class="about-us">
      <div class="about-content">
          <h1>About Us</h1>
          <p>Welcome to our tea shop! We are passionate about bringing the finest teas from around the world to your cup. Our team is dedicated to curating a selection of premium teas, providing exceptional service, and fostering a community of tea enthusiasts.</p>
          <p>Founded in 2024, our mission is to deliver high-quality, sustainably sourced teas that you can enjoy at home or gift to loved ones. From classic black teas to exotic blends, we are committed to excellence in every cup.</p>
          <p>Thank you for choosing us as your go-to source for all things tea. We hope you enjoy our offerings as much as we enjoy bringing them to you!</p>
      </div>
      <div class="about-image">
          <img src="../static/drinking-tea_every-day_delays-aging_mint-tea_1m.jpg" alt="Assorted Teas">
      </div>
  </section>
  <h2></h2>
</main>
<footer class="mt-4">
  <div class="container1">
    <div class="footer-section">
      <ul class="social-icons">
        <li><a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li><a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Refunds & Replacement</a></li>
        <li><a href="#">About Tea House </a></li>
      </ul>
    </div>
    <div class="footer-section">
      <ul>
        <li><i class="fa fa-map-marker"></i>First Branch Location</li>
        <li><i class="fa fa-map-marker"></i>Second Branch Location</li>
        <li><i class="fa fa-phone"></i> 00961 81 192894</li>
        <li><i class="fa fa-envelope"></i> tea@teahouse.com</li>
      </ul>
    </div>
    <div class="footer-section">
      <ul>
        <li>Shipping All Over Lebanon</li>
        <li>Delivery within two working days.</li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Copyright Tea House | by Team Tea House</p>
  </div>
</footer>
<script src="../js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>
