<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com">
    <link rel="stylesheet" href="../css/Item.css">
    <title>Item</title>
</head>
<body>
    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html">
                <img src="../static/logo.png" alt="" width="100" height="100">
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="./signup.html"><i class="fa fa-user" aria-hidden="true"></i> Sign Up</a></li>
                  <li><a class="dropdown-item" href="./login.html"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Logout <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="./cart.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a>
            </li>
            </ul>
            <div class="d-flex">
              <input id="serachbar" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success" type="submit" onclick="search()">Search</button>
            </div>
          </div>
        </div>
      </nav>
  <!--This is the page that will load each type by its own so now no need for multiple html pages (inno a page for each type)-->

  <div class="Item-pic-price">
    
    <div id="teaImage" class ="pic"></div>
<!-- Sari Started Editing Here -->
    <div class="price">
      <h1 id="teaName"></h1>
      <p id="teaPrice"></p>
      
      <div class="size-input">
        <label for="size">SIZE:</label>
        <select id="size" name="size">
          <option value="Select" disabled selected>Select a Size</option>
          <option value="50">50g</option>
          <option value="100">100g</option>
          <option value="200">200g</option>
        </select>
      </div>
        
      <div class="quantity-input">
        <label for="quantity">QUANTITY:</label>
        <input type="number" name="quantity" id="quantity" max="10" min="1" value="1">
      </div>
    
      <div class="favorite-add-btn">
        <button id="favoriteBtn" onclick="toggle()">♡</button>
        <button id="addToCartBtn">Add To Cart</button>
      </div>
    </div>
  <!-- Here sari's edits ended -->
  </div>



<div class="description">
  <h5>Description:</h5>
  <p id="teaDescription"></p>
  <h5>How To Prepare?</h5>
  <p id="teaPreparation"></p>
  <h5>Ingredients:</h5>
  <p id="teaIngredients"></p>
  <h5>Benefits:</h5>
  <p id="teaBenefits"></p>
</div>



<div class="recommended">
  <h3>YOU MIGHT ALSO LIKE</h3>
  <div id="recommendations"></div>
</div>


  <script src="../js/index.js"></script> <!-- Always add the index js and css files -->
  <script src="../js/item.js"></script>
  <script src="../js/cart.js"></script>
</body>
<footer>
  <div class="container1">
    <div class="footer-section">
      <ul class="social-icons">
        <li><a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li><a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Refunds & Replacement</a></li>
        <li><a href="#">About Tea House </a></li>
      </ul>
    </div>
    <div class="footer-section">
      <ul>
        <li><i class="fa fa-map-marker"></i>First Branch Location</li>
        <li><i class="fa fa-map-marker"></i>Second Branch Location</li>
        <li><i class="fa fa-phone"></i> 00961 71 806438</li>
        <li><i class="fa fa-envelope"></i> tea@teahouse.com</li>
      </ul>
    </div>
    <div class="footer-section">
      <ul>
        <li>Shipping All Over Lebanon</li>
        <li>Delivery within two working days.</li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Copyright Tea House | by Mr. Website</p>
  </div>
</footer>
</html>

<style>
  .tea-image {
      width: 100px;
      height: auto;
  } 


/*  .recommendations-image {
            width: 200px;
            height: auto;
            cursor: pointer;
        }*/
</style> 
