<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/signup.css">
    <title>SignUp</title>
</head>
<body>
    <!-- Nav -->
    <nav>
        <a href="../templates/index.html">Home <i class="fa fa-user" aria-hidden="true"></i></a>
        <a href="../templates/signup.html">Signup</a>
    </nav>
    <!-- Content -->
     <div class="button">This is a button <i class="fa fa-user" aria-hidden="true"></i></div>
</body>
<footer>
  <div class="container1">
    <div class="footer-section">
      <ul class="social-icons">
        <li><a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li><a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Refunds & Replacement</a></li>
        <li><a href="#">About Tea House </a></li>
      </ul>
    </div>
    <div class="footer-section">
      <ul>
        <li><i class="fa fa-map-marker"></i>First Branch Location</li>
        <li><i class="fa fa-map-marker"></i>Second Branch Location</li>
        <li><i class="fa fa-phone"></i> 00961 71 806438</li>
        <li><i class="fa fa-envelope"></i> tea@teahouse.com</li>
      </ul>
    </div>
    <div class="footer-section">
      <ul>
        <li>Shipping All Over Lebanon</li>
        <li>Delivery within two working days.</li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Copyright Tea House | by Mr. Website</p>
  </div>
</footer>
<script src="../js/index.js"></script>
<script src="../js/signup.js"></script>
</html>
