<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/signup.css">
    <title>SignUp</title>
</head>
<body>
    <!-- Nav -->
    <nav>
        <a href="../templates/index.html">Home <i class="fa fa-user" aria-hidden="true"></i></a>
        <a href="../templates/signup.html">Signup</a>
    </nav>
    <!-- Content -->
     <div class="button">This is a button <i class="fa fa-user" aria-hidden="true"></i></div>
</body>
<footer>
    <div class="container">
        <p><i class="fa fa-twitter"></i> Follow</p>
    </div>
  </footer>
<script src="../js/index.js"></script>
<script src="../js/signup.js"></script>
</html>