<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/index.css">
    
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="../css/Item.css">
</head>
<body>
    <div class="Item-pic-price">
        <div class="pic">
            <img src="../static/Spicy_Rooibois_1.png" >
        </div>
        <div class="price">
            <h3>SPICY ROOIBOS</h3>
            <p>15.00$</p>
            <form id="priceForm">
                <div class="size-input">
                    
                    <label for="size">SIZE:</label>
                    <input type="number" name="size" id="size" placeholder="eg.100g">
                </div>
                    
                <div class="quantity-input">
                    <label for="quantity">QUNATITY:</label>
                    <input type="number" name="quantity" id="quantity" max="10">
                </div>

                <div class="favorite-add-btn">
                    <button>♡</button>
                    <button>Add To Cart</button>
                </div>
                 
             </form>
        </div>

        
    </div>


    <div class="description">
        <h5>Description:</h5>
        <p>A bold and satisfying brew perfect for adding some spice to your life! It’s a blend full of character in every cup.</p>
        <h5>How to prepare?</h5>
        <p>Pour 100°C water over 1.5 grams of tea leaves per cup and infuse for 5 minutes. Remove leaves and enjoy.</p>
        <h5>Ingredients:</h5>
        <p>Rooibos, cinnamon, pink pepper, bourbon vanilla beans, clove buds and cardamom</p>
        <h5>Benefits:</h5>
        <p>• boosts antioxidant levels • balances blood glucose levels • supports healthy skin • aids in weight loss • aids in digestion • rich in magnesium and iron</p>
    </div>


    <div class="recomended">
        <h3 >YOU MIGHT ALSO LIKE</h3>
    </div>    
    
    
    <div class="rec-item">

        <div class="product">
            <div class="rec-product-img">
                <a href="../templates/balanceHerbal.html"><img src="../static/HerbalBalance.png" ><br></a>
            
            </div>
            <div class="rec-product-info">
                <p>BALANCE HERBAL INFUSION</p><br>
                <p>15.00$</p>  
            </div> 
        </div>

        <div class="product">
            <div class="rec-product-img">
                <a href="../templates/gyokuroAsahi.html"><img src="../static/GYOKURO-ASAHI.jpg" ><br></a>
            
            </div>
            <div class="rec-product-info">
                <p>ORGANIC GYOKURO ASAHI PREMIUM JAPANESE GREEN TEA</p><br>
                <p>36.00$</p>  
            </div>
        </div>

        <div class="product">
            <div class="rec-product-img">
                <a href="../templates/eternitealherbal.html"><img src="../static/Eterniteal_1.png" ><br></a>
            
            </div>
            <div class="rec-product-info">
                <p>ETERNITEA’L HERBAL INFUSION</p><br>
                <p>15.00$</p>  
            </div>
        </div>

        <div class="product">
            <div class="rec-product-img">
                <a href="../templates/cinnamonOrange.html"><img src="../static/CinnamonOrange.png" ><br></a>
            
            </div>
            <div class="rec-product-info">
                <p>CINNAMON ORANGE GREEN TEA</p><br>
                <p>15.00$</p>  
            </div>
        </div>

        <div class="product">
            <div class="rec-product-img">
                <a href="../templates/tumericMatcha.html"><img src="../static/Turmeric_Matcha_1.png" ><br></a>
            
            </div>
            <div class="rec-product-info">
                <p>TUMERIC MATCHA</p><br>
                <p>15.00$</p>  
            </div>
        </div>
        

        
    </div>

    
    
</body>
</html>